<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="C5" version="1.0.2.0" targetFramework="net47" />
    <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net47" />
    <package id="PListNet" version="2.0.3" targetFramework="net47" />
    <package id="Plossum.CommandLine" version="0.3.0.14" targetFramework="net47" />
</packages>